<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://replit.com/@sudaisjaved1/alnaeem-website-4#static/banner.jpg" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%; 
      }
    </style>
    <title>Al Naeem Jewellery</title>
  </head>
  <body>
    <div>
      <h1 class="text-center mt-2 mb-4" > {{company_name}} </h1>
        <img class= "img-fluid" id="banner" src="https://alnaeem-website-4--sudaisjaved1.repl.co/static/banner.jpg" height="320" width="50%">
      <h2 class="text-center mt-2">About Al Naeem Jewellery</h2>
      <p class="lead">
Discover the epitome of luxury at Al Naeem Jewellery, where craftsmanship meets opulence in every piece. Nestled at the intersection of tradition and contemporary design, our exquisite creations redefine elegance. From intricately designed necklaces to delicately crafted bracelets, each piece is a manifestation of artistry and quality. Step into our boutique, where a world of timeless beauty awaits, curated to meet the desires of those who appreciate the finer things in life. At Al Naeem Jewellery, we invite you to embrace the allure of exceptional craftsmanship and adorn yourself with pieces that tell a story of enduring sophistication and style.</p>
      <h3>Some items that we sell</h3>
      <p>
        {% for job in jobs %}
              {% include 'jobitem.html' %}
        {% endfor %}
      </p>
            
      <div class="text-center">
    <button class= "btn btn-primary btn-lg">Contact us</button>
        <p class="mt-4">Copyright 2024</p>
      </div>   
    </div>
      
  </body>
</html>